html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

#side-nav-container {
  position: fixed;
  height: 100%;
  width: 40px;
  left: 0;
  background-color: transparent;
  z-index: 10;
}

.side-nav {
  position: relative;
  width: 100%;
  height: 100%;
  top: 31%;
  text-transform: uppercase;
  text-decoration: none;
}

.side-ul {
  list-style-type: none;
  height: 100%;
  padding: 0;
  text-align: center;
}

.side-li:nth-child(1) {
  background-color: transparent;
}

.side-li:nth-child(2) {
  background-color: transparent;
}

.side-li:nth-child(3) {
  background-color: transparent;
}

.side-li {
  height: 6%;
  width: 100%;
  position: relative;
}

.side-nav-link {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  font-family: "Fjalla One", sans-serif;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -25%);
}

a:nth-child(1):hover {
  color: #043C47;
}

.page {
  height: inherit;
}

#anchor1 {
  background-color: transparent;
}

#anchor2 {
  background-color: transparent;
}

#anchor3 {
  background-color: transparent;
}

#anchor4 {
  background-color: transparent;
}

#anchor5 {
  background-color: transparent;
}
